#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
# include /usr/share/dpkg/default.mk
include $(addprefix /usr/share/dpkg/,buildflags.mk architecture.mk)

BOOTSTRAP_PATH := _bstr
BOOTSTRAP_P1_EXE := $(BOOTSTRAP_PATH)/p1/build2/b-boot
BOOTSTRAP_P2_EXE := $(BOOTSTRAP_PATH)/p2/build2/b

%:
	dh $@

$(BOOTSTRAP_P1_EXE):
	mkdir -p $(BOOTSTRAP_PATH)/p1
	cd $(BOOTSTRAP_PATH)/p1 && \
	  $(MAKE) -f $(abspath bootstrap.gmake) CXX=g++ -j8

bootstrap-p1: $(BOOTSTRAP_P1_EXE)

$(BOOTSTRAP_P2_EXE): $(BOOTSTRAP_P1_EXE)
	mkdir -p $(BOOTSTRAP_PATH)/p2
	$(abspath $(BOOTSTRAP_P1_EXE)) libbutl/@$(BOOTSTRAP_PATH)/p2/libbutl/ config.cxx=$(CXX) config.bin.lib=static
	$(abspath $(BOOTSTRAP_P1_EXE)) build2/@$(BOOTSTRAP_PATH)/p2/build2/ config.cxx=$(CXX) config.bin.lib=static

bootstrap-p2: $(BOOTSTRAP_P2_EXE)

override_dh_auto_configure: $(BOOTSTRAP_P2_EXE)
	$(BOOTSTRAP_P2_EXE) configure    \
	  config.cxx=$(CXX)               \
	  config.cc.poptions="$(CPPFLAGS)"  \
	  config.cc.loptions="$(LDFLAGS)"   \
	  config.c.coptions="$(CFLAGS)"     \
	  config.cxx.coptions="$(CXXFLAGS)" \
	  config.install.root=/usr

override_dh_auto_build: $(BOOTSTRAP_P2_EXE)
	$(BOOTSTRAP_P2_EXE)

override_dh_auto_install: $(BOOTSTRAP_P2_EXE)
	$(BOOTSTRAP_P2_EXE) config.install.chroot=$(abspath debian/tmp) install

unpack_sources:
	tar -xf ../build2-toolchain_0.7.0.orig.tar.xz  --strip-components=1

override_dh_auto_clean:
	rm -rf $(dir $(dir $(BOOTSTRAP_P1_EXE))) $(dir $(dir $(BOOTSTRAP_P2_EXE))) 


#	$(BOOTSTRAP_P2_EXE) clean

noo:
	rm -rf $(BOOTSTRAP_PATH)
	find build2 libbutl \( -name '*.o.d' -o -name '*.o.ii' -o -name '*.a.d' -o -name '*.hxx.d' \) -delete

.PHONY: bootstrap-p1 bootstrap-p2


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

